server:
  servlet:
    context-path: /api
  port: 9090
spring:
  application:
    name: subscription-service
  data:
    mongodb:
      database: challenge
      uri: mongodb://root:rootpassword@localhost:27018

  rabbitmq:
    host: localhost
    port: 5672
    username: challenge
    password: challenge

  main:
    allow-bean-definition-overriding: true

  jackson:
    default-property-inclusion: non_null


application-description: public subscription servive
application-version: 0.1.0
springdoc:
  use-fqn: true

notification-service:
  exchange: notification-exchange
  routingKey: notification-routingkey
  queue: notification-queue

logging:
  level:
    root: info
#    com.adidas.subscription.client.SubscriptionClient: DEBUG